.response {
  position: relative;
  padding: 20px 0 30px;
  margin: 5rem auto;
  max-width: 700px;
}

.response .heading {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: bold;
}

.response .none {
  color: var(--white);
  position: relative;
  font-size: 1.4rem;
  font-weight: 200;
  padding: 90px;
  z-index: 100;
  text-align: center;
}

.response .result {
  color: var(--primary-color);
  position: relative;
  font-size: 1rem;
  font-weight: 200;
  padding: 10px 10px;
  z-index: 100;
}

.response .card {
  background-color: var(--bg-color);
  width: 80%;
  height: auto;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 10px;
  z-index: -1;
  margin: 10px auto;
}

.response .span {
  color: var(--secondary-color);
  padding-left: 3px;
}

.response .cardContainer {
  overflow: scroll;
  overflow-x: hidden;
  color: var(--bg-color);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 15rem;
  margin-top: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .response .cardContainer {
    width: 90%;
    margin: 0 10px;
  }
  .response .none {
    font-size: 1.1rem;
  }

  .response .heading {
    margin: 10px 10px;
  }
}
